.client-skeleton {
   width: 100%;
   max-width: 550px;
   height: 8vh;
   display: flex;
   align-items: center;
   gap: 10px;
   background-color: var(--background);
   color: var(--foreground);
   border: 1px solid var(--inputBorder);
   border-radius: 8px;
   padding: 5px 12px;
   cursor: pointer;
   margin: 10px 0;
}
.client-skeleton:hover { box-shadow: 0 2px 4px 4px var(--boxShadow); }

.client-skeleton .image {
   height: 100%;
   aspect-ratio: 1;
   padding: 5px;
}

.client-skeleton .image .img-skeleton {
   height: 100%;
   aspect-ratio: 1;
   border-radius: 100%;
   background: linear-gradient(90deg, #eee 25%, #ddd 50%, #eee 75%);
   background-size: 200% 100%;
   animation: shimmer 3s infinite;
}

.client-skeleton .name { flex-grow: 1 !important; }
.client-skeleton .status { padding: 0px 10px; }

@keyframes shimmer {
   0% {
      background-position: -200% 0;
   }
   100% {
      background-position: 200% 0;
   }
}