.dt-root {
   min-width: 260px;
   width: 100%;
   max-width: 600px;
   background: #fff;
}

.dt-input {
   border: 1px solid #ddd;
   border-radius: 10px;
   padding: 12px 15px;
   width: 100%;
   outline: none;
}

.dt-input:focus {
   box-shadow: 0 0 0 3px rgba(0,120,212,0.08);
   border-color: var(--accent-color);
}