.skeleton {
  width: 100%;
  max-width: 400px;
  background: linear-gradient(90deg, #eee 25%, #ddd 50%, #eee 75%);
  background-size: 200% 100%;
  animation: shimmer 3s infinite;
  border-radius: 10px;
}

.skeleton.s1 { height: 5vh; }
.skeleton.s2 { height: 6vh; }
.skeleton.s3 { height: 7vh; }
.skeleton.s4 { height: 8vh; }
.skeleton.s5 { height: 9vh; }
.skeleton.s6 { height: 10vh; }
.skeleton.s7 { height: 11vh; }
.skeleton.s8 { height: 12vh; }
.skeleton.s9 { height: 13vh; }
.skeleton.s10 { height: 14vh; } 

@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}