.modal-select {
   width: 100%;
   min-width: 60px;
   border-radius: 8px;
   border: 1px solid #ededed;
   display: flex;
   align-items: center;
   justify-content: center;
   position: relative;
}

.modal-select .selected-option {
   width: 100%;
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 0.6rem;
   padding: 5px;
   cursor: pointer;
}

.modal-select .selected-option .content {
   width: 100%;
   height: 100%;
   padding: 8px 14px;
   display: flex;
   align-items: center;
   gap: 5px;
}

.modal-select .selected-option .arrow {
   width: fit-content;
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 0 12px;
}

.modal-select .options-modal-container {
   position: fixed;
   top: 0;
   left: 0;
   z-index: 3;
   width: 100vw;
   height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: rgba(0, 0, 0, 0.1);
}

.modal-select .options-modal-container .options-modal-box {
   width: 700px;
   height: 70vh;
   padding: 30px;
   background: white;
   border-radius: 20px;
   position: relative;
   display: flex;
   flex-direction: column;
   gap: 0;
   box-shadow: 0 2px 5px 3px rgba(0, 0, 0, 0.096);
}

.modal-select .options-modal-container .options-modal-box .search-box { padding: 10px 0; }

.modal-select .options-modal-container .options-modal-box .options-list-container {
   width: 100%;
   height: 100%;
   overflow-y: scroll;
   overflow-x: hidden;
}
.modal-select .options-modal-container .options-modal-box .options-list {
   width: 100%;
   height: fit-content;
   display: flex;
   flex-direction: column;
   gap: 10px;
}

.modal-select .options-modal-container .options-modal-box .options-list .option {
   width: 100%;
   height: fit-content;
   display: flex;
   align-items: center;
   padding: 20px;
   background-color: white;
   border: 1px solid #d8d8d8;
   border-radius: 15px;
   position: relative;
}

.modal-select .options-modal-container .options-modal-box .options-list .option:hover {
   background: #f7f7f7;
   cursor: pointer;
   user-select: none;
}

.modal-select .options-modal-container .options-modal-box .options-list .option.selected {
   background-color: #d0d6ff;
   border-color: #3e58ff;
}

.modal-select .options-modal-container .options-modal-box .options-list .option.selected .selected-check {
   background-color: #1131ff;
   border-radius: 100%;
   height: fit-content;
   aspect-ratio: 1;
   padding: 5px;
   color: white;
   display: flex;
   align-items: center;
   justify-content: center;
   position: absolute;
   bottom: 15px;
   right: 10px;
}

.modal-select .options-modal-container .options-modal-box .close-ms {
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: end;
   user-select: none;
   position: absolute;
   top: 30px; right: 30px;
}

.modal-select .options-modal-container .options-modal-box .close-ms .close-btn {
   width: fit-content;
   height: fit-content;
   padding: 5px;
   border-radius: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: #e9e9e9;
   cursor: pointer;
}

.modal-select .options-modal-container .options-modal-box .close-ms .close-btn:hover { scale: 1.1; }
.modal-select .options-modal-container .options-modal-box .close-ms .close-btn:active { scale: 0.9; }