.app-logo-user-welcome {
   width: 100%;
   height: 4vh;
   display: flex;
   align-items: center !important;
   justify-content: start !important;
   gap: 6px;
   position: relative;
   user-select: none;
}

.app-logo-user-welcome .theme-switcher {
   position: absolute;
   top: 0;
   right: 0;
   height: 100%;
   aspect-ratio: 1.8/1;
   display: flex;
   align-items: center;
   border-radius: 120px;
   user-select: none;
   border: 1px solid var(--ctChangerBackground);
   background-color: var(--ctChangerBackground);
}
.app-logo-user-welcome .theme-switcher.left { justify-content: start; }
.app-logo-user-welcome .theme-switcher.right { justify-content: end; }


.app-logo-user-welcome .theme-switcher .switch-ball {
   height: 100%;
   aspect-ratio: 1;
   border-radius: 100%;
   cursor: pointer;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: var(--background);
}