.form {
   width: 100vw;
   height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
}

@media screen and (max-width: 900px) {
   .form {
      width: 100vw;
      height: 100vh;
      display: flex;
      align-items: start;
      justify-content: center;
   }
}

.form .form-box {
   width: 100%;
   max-width: 500px;
   height: fit-content;
   padding: 20px;
}

.form .form-box .app-logo {
   width: 100%;
   height: 10vh;
   text-align: center;
}

.form .form-box .app-logo img {
   height: 100%;
   aspect-ratio: 1;
   object-fit: contain;
}

.form .form-box .app-logo-collaboration {
   width: 100%;
   height: 10vh;
   display: flex;
   align-items: center;
   justify-content: center;
}

.form .form-box .app-logo-collaboration .container {
   width: 17vh;
   height: 10vh;
   display: flex;
   align-items: center;
   justify-content: start;
   position: relative;
}

.form .form-box .app-logo-collaboration .container .client-image {
   position: absolute;
   top: 0;
   right: 0;
}

.form .form-box .app-logo-collaboration img {
   height: 100%;
   aspect-ratio: 1;
   object-fit: cover;
   object-position: center;
   border-radius: 100%;
}

.form .form-box .form-content {
   width: 100%;
   padding: 8px 0;
   display: flex;
   flex-direction: column;
   gap: 5px;
}

.form .form-box .form-content button {
   width: 100%;
   padding: 12px 0;
}

.form .form-box .btn-actions {
   width: 100%;
   display: flex;
   align-items: center;
   flex-direction: column;
   gap: 6px;
}

.form .form-box .btn-actions button {
   padding: 12px;
   width: 100%;
}

.form .form-box .card-selector-scroller {
   width: 100%;
   height: fit-content;
   max-height: 50vh;
   display: flex;
   flex-direction: column;
   gap: 7px;
   overflow-x: hidden;
   overflow-y: scroll;
   padding: 20px 5px;
}

.form .form-box .card-selector-scroller .card-option {
   width: 100%;
   height: 8vh;
   border: 1px solid #ebebeb;
   outline: 1px solid transparent;
   border-radius: 8px;
   padding: 10px 15px;
   display: flex;
   align-items: center;
   justify-content: center;
   cursor: pointer;
}

.form .form-box .card-selector-scroller .card-option.selected {
   border: 1px solid #236cff;
   outline: 1px solid #236cff;
}

.form .form-box .card-selector-scroller .card-option.selected .name {
   color: #236cff;
}

.form .form-box .card-selector-scroller .card-option .check {
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
}

.form .form-box .card-selector-scroller .card-option .image {
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 10px;
   margin: 0;
}

@media screen and (max-width: 900px) {
   .form .form-box .card-selector-scroller .card-option {
      height: 8vh;
   }
   
   .form .form-box .card-selector-scroller .card-option .image {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 5px;
      margin: 0 10px;
   }
}

.form .form-box .card-selector-scroller .card-option .image img {
   height: 100%;
   aspect-ratio: 1;
   border-radius: 100%;
   object-fit: cover;
   object-position: center;
}

.form .form-box .card-selector-scroller .card-option .name { flex-grow: 1; }


input {
   border: 1px solid #dfdfdf;
   background: white;
   color: black;
   border-radius: 8px;
   outline: 1px solid #00000000;
}
input:focus { outline: 1px solid #dfdfdf; }
textarea {
   height: 30vh;
   width: 100%;
   max-width: 500px;
   padding: 10px 15px;
   font-size: 1.1rem;
   line-height: 1.7rem;
   border: 1px solid #dfdfdf;
   background: white;
   color: black;
   border-radius: 8px;
   outline: 1px solid #00000000;
   resize: none;
}
textarea:focus { outline: 1px solid #dfdfdf; }